# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.env
*.env

# Django
db.sqlite3
media/
staticfiles/

# Git
.git/
.gitignore

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
Dockerfile
docker-compose.yml
